@import 'bootstrap/scss/bootstrap';

.card-header-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;
}

.card-no-border {
  border: 0;
}

.icon {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  ul {
    list-style-type: none;
    padding: 0;
    @extend .list-group;
    @extend .list-group-flush;
  }

  li {
    list-style-type: none;
    // padding-left: 0;
    // padding-right: 0;
    padding: 0;
    @extend .list-group-item;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

.thumbnail {
  width: '32px';
  height: '32px';
}

.pointer {
  cursor: pointer;
}

.element {
  padding: 1rem;

  .visible-on-hover {
    visibility: hidden;
  }

  &:hover {
    background-color: #f8f9fa;

    .visible-on-hover {
      visibility: visible;
    }
  }
}

.pointer-none {
  pointer-events: none;
}

.indent {
  margin-left: 5rem;
}

.controls {
  position: absolute;
  left: 0;
}

.expanded {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  li:first-child {
    padding-top: 0;
  }
}
